@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), url(/static/themes/helmmace/assets/fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), url(/static/themes/helmmace/assets/fonts/Lato-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: local('Lato Bold'), url(/static/themes/helmmace/assets/fonts/Lato-Bold.ttf) format('truetype');
}

body {
  font-family: 'Lato', sans-serif;
}

a::after {
  transition: all .2s;
}

a:not(.social) {
  position: relative;
}

a:not(.social)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0;
  bottom: 0;
  background: black;
  opacity: 0.1;
  z-index: -1;
}

a:not(.social):hover::after {
  opacity: 0.3;
}