@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Bebas Neue Regular'), url(/static/themes/powerbreeze/assets/fonts/BebasNeue-Regular.ttf) format('truetype');
}

.heading {
  font-family: 'Bebas Neue', cursive;
}

a::after {
  transition: all .2s;
}

a:not(.social) {
  position: relative;
}

a:not(.social)::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 100%;
  left: -5%;
  bottom: 0;
  background: black;
  opacity: 0.1;
  z-index: -1;
}

a:not(.social):hover::after {
  height: 20%;
}